/* Import Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Bigshot+One);
@import url(https://fonts.googleapis.com/css?family=Over+the+Rainbow);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Concert+One");
* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  font-size: 15px;
  font-family: "Arial", sans;
}

.header {
  height: auto;
  padding: 20px 40px;
  color: #FFF;
  background: #0d152f;
}
.header__logo-image {
  width: 35px;
}
.header__logo {
  width: 40%;
  display: inline-block;
  position: relative;
  text-decoration: none !important;
}
.header__title {
  display: inline-block;
  position: relative;
  font-family: "Pacifico", serif;
  font-size: 30px;
  margin: 2px;
  top: 5px;
  color: #fff;
  cursor: pointer;
}
.header__sub-title {
  top: 5px;
  display: inline-block;
  position: relative;
  font-family: "Merriweather", sans;
  font-size: 14px;
  color: #dbdbdb;
  letter-spacing: 2px;
}
.header__menubar {
  display: inline-block;
  position: absolute;
  width: 60%;
  text-align: right;
  right: 50px;
  top: 35px;
}
.header__menu {
  display: inline-block;
  position: relative;
}
.header__menu-item {
  margin: 0 10px;
}
.header__menu-item a {
  text-decoration: none;
  color: #dbdbdb;
}
.header__menu-item a:hover {
  color: #fff;
}
.header__button {
  background: #0d152f;
  color: #fff;
  border: 1px solid #dbdbdb;
  position: relative;
  margin-left: 3px;
  bottom: 2px;
}
.header__button:hover {
  background: #fff;
  color: #0d152f;
}
.header__search-icon {
  color: #dbdbdb;
  margin-left: 20px;
}

.container {
  margin: 0;
  padding: 40px 0 0 0;
  width: 100%;
  height: 200px;
  background: #f8f9fc;
}

.breadcrumbs {
  display: inline-block;
  position: relative;
}
.breadcrumbs__list {
  margin-left: 40px;
}

.jumbotron {
  padding-left: 80px;
}
.jumbotron__container {
  display: inline-block;
  width: 40%;
}
.jumbotron__title {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin-top: 50px;
}
.jumbotron__content {
  margin: 40px 0;
  font-size: 20px;
  text-align: justify;
}
.jumbotron__image {
  width: 500px;
  margin-left: 160px;
  position: absolute;
  top: 120px;
}

.services {
  width: 100%;
  text-align: center;
  margin: 80px 0;
}
.services__title {
  font-family: "Concert One", cursive;
  margin-bottom: 30px;
}
.services__box {
  display: inline-block;
  position: relative;
  width: 16%;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.services__box-icon {
  width: 120px;
}
.services__box-title {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 800;
  font-family: "Poppins", sans;
}
.services__box-content {
  font-size: 12px;
  color: #6d6d6d;
}

.register {
  height: auto;
}
.register__container {
  background: #E9ECEF;
  display: inline-block;
  width: 45%;
  padding: 135px 90px;
}
.register__container--form {
  background: #FFF;
  border: 5px solid #E9ECEF;
  position: absolute;
  padding: 70px 100px;
  width: 55%;
}
.register__title {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin-top: 30px;
  text-align: center;
}
.register__image {
  margin-top: 60px;
  width: 400px;
}
.register__form-title {
  font-family: "Concert One", cursive;
  font-size: 30px;
  margin-bottom: 20px;
}
.register__social-accounts {
  margin: 10px 0;
}
.register__social-icon {
  width: 20px;
}
.register__social-icon--google {
  margin-right: 10px;
}
.register__fillup {
  display: inline-block;
  position: relative;
  color: #757575;
  margin: 10px 2px;
}
.register__fillup--or {
  top: 7px;
  margin: 0 10px;
}

.form {
  padding: 5px;
}
.form__group {
  margin: 10px 0;
}
.form__group--half-width {
  display: inline-block;
  position: relative;
  width: 49%;
  margin-right: 3px;
}
.form__group-checkbox {
  display: inline-block;
  position: absolute;
  margin: 0;
}
.form__group-submit {
  margin-top: 70px;
}
.form__required {
  font-weight: bold;
  color: #FF0000;
}
.form__checkbox {
  margin-top: 20px;
  width: 20px;
}
.form__link {
  text-decoration: none;
}
.form__link:hover {
  text-decoration: underline;
}

.footer {
  position: absolute;
  width: 100%;
  height: auto;
  background: #68717F;
  padding: 15px 70px 50px 50px;
}
.footer__logo-image {
  width: 35px;
  position: absolute;
}
.footer__logo {
  width: 40%;
  padding: 10px 50px;
  display: inline-block;
  position: relative;
}
.footer__title {
  font-family: "Pacifico", serif;
  font-size: 30px;
  margin-left: 50px;
  top: 5px;
  color: #fff;
}
.footer__sub-title {
  font-family: "Merriweather", sans;
  font-size: 14px;
  color: #dbdbdb;
  letter-spacing: 2px;
}
.footer__links {
  display: inline-block;
  position: relative;
  width: 50%;
  text-align: right;
  right: 0;
}
.footer__link {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  margin: 10px;
}
.footer__link:hover {
  color: #0d152f;
  text-decoration: none;
  font-weight: 600;
}
.footer__credentials {
  margin: 10px 0 0 50px;
}
.footer__creator {
  color: #FFF;
}
.footer__rights {
  color: #FFF;
  float: right;
  margin-right: 130px;
}

.button {
  font-size: 12px;
  font-family: "Arial", sans;
}
.button--jumbotron {
  font-size: 20px;
  font-weight: strong;
  font-family: "Poppins", sans-serif;
  padding: 8px 30px;
  background: #F8F9FC;
}
.button--jumbotron:hover {
  background: #e1e1e1;
}
.button--google {
  background: #4385F5;
  color: #FFF;
}
.button--register {
  padding: 5px 30px;
}

/** Trumps **/
.breadcrumb-item {
  display: inline-block;
  position: relative;
}

.breadcrumb-item a {
  text-decoration: none;
  background: #eaecf6;
  padding: 5px 10px;
  border-radius: 5px;
  color: #848484;
}
.breadcrumb-item a:hover {
  background: #e1e1e1;
}